
#element::-webkit-scrollbar
{ 
    display: none; 
}

::-webkit-scrollbar
{ 
    display: none; 
}

body
{
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial;
	color: #EDEDED;
	background-color: #1E1E1E;
}

	*
	{
		cursor: default;
		line-height: 3vh;
		-ms-user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
	}

/**
 * Common definition of site URI.
 */
	A
	{
		transition: 0.2s;
		letter-spacing: 1px;
		font-family: Arial;
		font-weight: bold;
		vertical-align: center;
		font-size: 105%;
		text-decoration: none;
		color: #1B8FD1;
		margin: 5px;
	}

	A:hover
	{
		transition: 0.2s;
		color: #5DCCFF;
	}

/**
 * A Material-Design style big button.
 */
	.big_btn
	{
		line-height: 150px;
		transition: 0.2s;
		padding: 20px;
		font-size: 20px;
		font-weight: Arial;
		text-shadow: 0px 0px 2px rgba(15, 15, 15, 0.2);
		width: 190px;
		background-color: #444;
		border-radius: 3px;
		border: 0px none;
		text-align: center;
		font-weight: bold;
		color: #EDEDED;
		vertical-align: middle;
		box-shadow: 0px 3px 10px rgba(15, 15, 15, 0.4);
	}

	.big_btn:hover
	{
		text-shadow: 0px 1px 2px rgba(15, 15, 15, 0.4);
		box-shadow: 0px 6px 15px rgba(15, 15, 15, 0.7);
		transition: 0.2s;
		background-color: #777;
		color: #FFF;
	}

	.big_btn:active
	{
		transition: 0.2s;
		background-color: #222;
		color: #CCC;
	}

	.big_btn:focus
	{
		outline: 0;
	}

/**
 * The common definition of site content area.
 */
	.content_area
	{
		margin: 0px;
		padding: 0px;
		width: 100vw;
		background: #444;
		text-shadow: none;
	}

	.content_area > *
	{
		margin: 0px;
		padding: 0px;
	}

	.content
	{
		margin: 0px;
		padding: 5vw;
		padding-left: 12vw;
		padding-right: 12vw;
	}

	.content > h1
	{
		font-family: Helvetica;
		font-size: 38px;
		line-height: 40px;
		text-transform: uppercase;
		letter-spacing: 0.4rem;
		font-weight: lighter;
		text-align: center;
		padding-bottom: 8vh;
	}
