
	body
	{
		text-shadow: 0px 0px 4px #333;
	}

	header
	{
		width: 100vw;
		min-height: 1000px;
		height: 56vw;
		background: url("../assets/site/background.jpg");
		background-size: 100vw;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

@media screen and (min-width: 1080px)
{
	nav
	{
		padding-top: 2.5vw;
		height: 25vh;
	}

	nav > div
	{
		float: right;
		padding-top: 3vw;
		padding-right: 150px;
	}

	#nav_items > A
	{
		font-size: 140%;
		color: #FFFFFF;
		padding: 1vw;
	}

	#nav_items > A:hover
	{
		transition: 0.1s;
		border-bottom: solid 4px #00FFF0;
	}
}


	#info
	{
		vertical-align: middle;
		text-align: center;
	}

	#info > *
	{
		display: inline-block;
		vertical-align: middle;
		padding: 2vw;
	}

	#info > #text > h1
	{
		font-family: Arial;
		font-weight: lighter;
		letter-spacing: 2px;
		font-size: 250%;
	}

	#info > #text > p
	{
		font-size: 110%;
		letter-spacing: 1px;
	}

	#logo
	{
		width: 25vw;
		min-width: 300px;
	}

	#knowmore
	{
		width: 190px;
		height: 70px;
		background-color: #00D0E0;
		color: #EDEDED;
	}

	#knowmore:hover
	{
		background-color: #55FFF5;
		color: #FFF;
	}

	#knowmore:active
	{
		background-color: #007770;
		color: #CCC;
	}

	#knowmore:focus
	{
		outline: 0;
	}

footer
{
	padding: 3vw;
	padding-bottom: 0px;
	text-align: center;
	background: #181C20;
}

#copyright
{
	text-align: left;
	font-size: 10px;
	color: #8E8E8E;
	color: #676767;
}

#links
{
	text-align: right;
	padding-top: 1.3vw;
	padding-bottom: 0.3vw;
}

#links > A
{
	letter-spacing: 1px;
	transition: 0.2s;
	color: #7C9FBA;
	font-size: 12px;
	font-weight: lighter;
}

#links > A:hover
{
	transition: 0.2s;
	color: #00FFF6;
}

@media screen and (max-width: 1080px)
{
	nav
	{
		padding-top: 2.5vw;
		height: 25vh;
		text-align: center;
	}

	nav > div
	{
		margin: auto;
		padding-top: 3vw;
		padding-left: auto;
		padding-right: auto;
	}

	#nav_items > A
	{
		font-size: 140%;
		color: #FFFFFF;
		padding: 1vw;
	}

	#nav_items > A:hover
	{
		transition: 0.1s;
		border-bottom: solid 4px #00FFF0;
	}

	#info
	{
		display: block;
	}
}

